<div class="footer">
  <div class="logo">
    Mazut<span>BeerShop</span>
</div>
<address>
    Svetozara Miletica 53<br>
    Novi Sad <br>
    Srbija
    <h5>Kontakt broj telefona: </h5><p>+381600499667</p>
    <h5>Kontakt E-mail: </h5><p>lukabugarin6@gmail.com</p>
    <a href="https://www.facebook.com/mazutcraftbeershop/"><img src="../../../assets/img/beers/facebook.png" alt="Our facebook page" width="50px" height="50px"></a>
</address>
<div class="map">
  <iframe class="frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.4986337874557!2d19.84002361555055!3d45.257930279099114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1042b553705f%3A0x6e5206c31e27b0e2!2z0KHQstC10YLQvtC30LDRgNCwINCc0LjQu9C10YLQuNGb0LAgNTMsINCd0L7QstC4INCh0LDQtCAyMTAwMA!5e0!3m2!1ssr!2srs!4v1580134736171!5m2!1ssr!2srs" width="400" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
</div>
<div class="copy">
  Copyright &copy; 2019 MazutBeerShop
</div>
